#alert-inactive {
  position: fixed;
  max-width: 90%;
  top: 15px;
  right: -360px;
  z-index: 10000;
  @include transition(right $delay);
  
  @include media-breakpoint-up(sm) {
    max-width: 350px;
  }

  &.show {
    right: 15px;
  }
}