@include media-breakpoint-up(lg) {
  .border-lg-left {
    border-left: 1px solid $white;
  }
}

footer {

  .brand {
    display: inline-block;
  
    svg {
      width: 133px;
      height: 54px;
    }
  }


}