#activereponsive {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;

  .brand {
    display: inline-block;
  
    svg {
      width: 133px;
      height: 54px;
    }
  }
  
  .brand-dates {

    display: inline-block;

    svg {
      width: 126px;
      height: 54px;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}

header.banner {
  top: -45px;
  @include transition(top $delay);

  @include media-breakpoint-up(lg) {
    .brand-logo {
      margin-top: -30px;
    }
  }

  .brand {
    display: none;
  
    @include media-breakpoint-up(lg) {
      display: inline-block;
      width: 185px;
      height: 60px;

      svg {
        width: 150px;
        height: 60px;
      }
    }
  
    @include media-breakpoint-up(xl) {
      display: inline-block;
      width: 215px;
      height: 75px;

      svg {
        width: 180px;
        height: 75px;
      }
    }
  }
  
  .brand-dates {
    display: none;
  
    @include media-breakpoint-up(xl) {
      display: inline-block;
      margin-left: -30px;
  
      svg {
        width: 160px;
        height: 70px;
      }
    }
  }

  .header-actions {
    background: $gray-light;

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 60px;
      padding-top: 15px;
      z-index: 1100;
      text-align: center;
      border-left: 1px solid $gray-dark;
      right: -60px;
      transition-property: right !important;
      transition-duration: $delay !important;
      transition-delay: 0s !important;
    }

    @include media-breakpoint-up(lg) {
      width: 100%;
      padding: 15px;
      background: -webkit-linear-gradient(to right, $white, $gray-light);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, $white, $gray-light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      text-align: right;

      div {
        display: inline-block;
      }
    }

    @include media-breakpoint-up(xl) {
      padding: 15px 45px;
    }

    .header-actions-follow {
      margin-top: 25px;

      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
      
      a {
        display: inline-block;
        margin: 0 0 5px 0;

        @include media-breakpoint-up(lg) {
          margin: 0;
        }
      }
      
    }

    .header-actions-links {
      
      a {
        display: inline-block;
        margin: 0 0 5px 0;

        @include media-breakpoint-up(lg) {
          margin: 0 0 0 15px;
        }
      }
    }
  }

  .nav-primary {
    position: inherit;
    z-index: 1;

    @include media-breakpoint-down(md) {
      position: fixed;
      right: 0;
      width: 100%;
      padding: 30px 60px 30px 30px;
      top: 0;
      bottom: 0;
      background: $gray-light;
      z-index: 1000;
      right: -100%;
      transition-property: right !important;
      transition-duration: $delay !important;
      transition-delay: $delay !important;
    }

    .nav {

      & > li {
        margin: 0 0 15px 0;

        @include media-breakpoint-up(lg) {
          margin: 0 0 0 15px;
        }

        @include media-breakpoint-up(xl) {
          margin: 0 0 0 20px;
        }

        @include media-breakpoint-up(xxl) {
          margin: 0 0 0 30px;
        }

        &:nth-child(2) {
          margin-left: 0;
        }
        
        &.menu-item {
          width: 100%;
  
          @include media-breakpoint-up(lg) {
            width: initial;
            height: 140px;
            -ms-flex-align: center!important;
            align-items: center!important;
            display: -ms-flexbox!important;
            display: flex!important;
          }

          & > a {
            color: $violet;
            font-weight: bold;

            @include media-breakpoint-up(lg) {
              font-weight: normal;
            }
          }
  
          &.active {

            & > a {
              color: $rose;
              
              &::before {
                height: 6px!important;
                background-color: $rose!important;
              }

              &:hover {
                color: $violet;
              }
            }
          }

          &.menu-item-has-children {

            & > a {
              position: relative;
              display: block;

              @include media-breakpoint-up(lg) {
                height: 140px;
                -ms-flex-align: center!important;
                align-items: center!important;
                display: -ms-flexbox!important;
                display: flex!important;
  
                &::before,
                &::after {
                  position: absolute;
                  display: block;
                  content: '';
                  width: 100%;
                  height: 0;
                  bottom: 0;
                  background-color: $violet;
                  @include transition(height $delay);
                }
              }
            }
  
            @include media-breakpoint-up(lg) {
              &:hover {
    
                & > a {
                  opacity: 1;
    
                  &::after {
                    height: 6px;
                  }
                }
                
                ul {
                  padding: 50px;
                  max-height: 100vh;
                }
              }
            }
  
            ul {
              list-style: none;
              padding-left: 0;
              display: block;
              height: auto;
              max-height: 0vh;
              overflow: hidden;
              @include transition(max-height $delay $delay, padding $delay $delay);

              @include media-breakpoint-down(md) {
                &.active {
                  max-height: 100vh;
                }

                li {
                  margin: 10px;
  
                  &.active {
  
                    a {
                      color: $rose;
                    }
                  }
                }
              }

              @include media-breakpoint-up(lg) {
                position: absolute;
                background-color: $gray;
                top: 100%;
                right: -15px;
                left: 0;
                z-index: 100;
                padding: 0 50px;

                li {
                  margin-bottom: 15px;
  
                  a {
                    font-weight: bold;
  
                    &.active {
                      color: $rose;
                    }
                  }
                }
              }

              @include media-breakpoint-up(xl) {
                right: -30px;
                left: 0;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    &.active {
      .header-actions { right: 0; }
      .nav-primary { right: 0; }
    }
  }
}


@include media-breakpoint-up(lg) {
  body:not(.mce-content-body,.page-template-template-vente,.woocommerce).minified {
    padding-top: 195px;
    
    header.banner {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 54px;
      background-color: $gray-light;
      z-index: 500;

      @include media-breakpoint-up(lg) {
        .brand-logo {
          margin-top: 0px;
        }
      }
  
      .brand {
        width: 103px;
        height: 35px;

        svg {
          width: 103px;
          height: 35px;
        }
      }
  
      .brand-dates {
        display: none;
      }
  
      .container-fluid {
        padding-right: 0 !important;
      }
  
      .header-actions {
        display: none !important;
      }
  
      .nav {
  
        & > li {
          
          &.menu-item {
              height: 54px;
  
            &.menu-item-has-children {
  
              & > a {
                  height: 54px;
              }
            }
          }
        }
      }
    }
  }
}