.homepage-prevention {
  
  h1,h2,h3,h4,h5,h6 {
    color: $violet;
    margin-bottom: 30px;

    &::first-line { 
      color: $rose;
    }

    @include media-breakpoint-up(sm) {
      margin-left: -50%;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
    }
  }
}

.partenaire-img {
  max-width: 50%;

  @include media-breakpoint-up(sm) {
    max-width: initial;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}