.page-header {

  picture {
    display: block;
    max-height: 260px;
    overflow: hidden;
  }

  .page-header-nopicture {
    width: 100%;
    height: 50px;
    background-color: $violet;

    @include media-breakpoint-up(sm) {
      height: 100px;
    }
  
    @include media-breakpoint-up(lg) {
      height: 200px;
    }
  }

  .page-header-title {
    margin-top: -15px;

    @include media-breakpoint-up(sm) {
      margin-top: -25px;
    }
  
    @include media-breakpoint-up(lg) {
      margin-top: -45px;
    }
  }
}

.page-content {

  h1,
  h2 {
    color: $rose;
  }
}

.page-slider {
  position: relative;

  .page-slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    picture {
      img {
        opacity: 0;
        @include transition(opacity $delay, transform $delay);
        transform: translate(100px);
        transform: translate3d(100px,0,0);
      }
    }

    & > div {
      opacity: 0;
      @include transition(opacity $delay);
    }

    &.active {
      position: initial;
      opacity: 1;

      picture {
        img {
          opacity: 1;
          transform: translate(0);
          transform: translateZ(0);
        }
      }

      & > div {
        opacity: 1;
        @include transition(opacity $delay);
      }
    }
  }
}

.package {
  border-bottom: 1px solid $gray;

  &.populaire {
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      display: block;
      content: 'POPULAIRE';
      color: $violet;
      background-color: $gray;
      @include rotate(45deg);
      top: 35px;
      right: -100px;
      padding: 0 100px;

      @include media-breakpoint-up(lg) {
        @include rotate(-45deg);
        top: 35px;
        right: initial;
        left: -100px;
      }
    }
  }
}

.indication-content {
  display: none;
  opacity: 0;
  transform: translate(100px);
  transform: translate3d(100px,0,0);
  @include transition(opacity $delay, transform $delay);

  .indication {
    border-bottom: 1px solid $gray;

    a {
      position: relative;
      display: inline-block;
      color: $violet;
      font-weight: bold;
      padding-bottom: 10px;
      margin-bottom: 10px;
    
      &::before {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 5px;
        left: 0;
        bottom: 0;
        background-color: $violet;
        @include transition(height $delay);
      }

      &:hover {
    
        &::before {
          height: 10px;
        }
      }
    }
  }

  &.active {
    display: block;
    opacity: 1;
    transform: translate(0);
    transform: translateZ(0);
  }
}

.page-single-header {
  p {
    color: $rose;
    font-weight: bold;
    @include font-size(40, 40, 0);

    &::first-line { 
      color: $white;
    }
  
    @include media-breakpoint-up(sm) {
      @include font-size(50, 50, 0);
    }
  
    @include media-breakpoint-up(lg) {
      @include font-size(90, 90, 0);
    }
  }
}

.day-programme {
  display: none;

  &.active {
    display: flex;
  }
}

.question {
  border-bottom: 1px solid $gray;
  padding: 30px 0;

  & > a {
    position: relative;
    display: block;
    padding-left: 50px;
    padding-top: 10px;
    min-height: 42px;
    font-weight: bold;
  
    &::before {
      position: absolute;
      display: block;
      content: '+';
      top: 0;
      left: 0;
      @include border-radius(100%);
      color: $violet;
      border: 1px solid $violet;
      width: 42px;
      height: 42px;
      line-height: 42px;
      text-align: center;
    }

    &[aria-expanded="true"] {
      color: $rose;
  
      &::before {
        content: '-';
        color: $rose;
        border-color: $rose;
      }
    }
  }

  .small {
    margin-top: 15px;
    padding-left: 50px;
  }
}