.sidebar-menu {
  font-weight: bold;
  @include transition(padding $delay);

  & > div {
    margin-top: 60px;
  }

  a.active {
    position: relative;
    color: $rose;
    padding-bottom: 10px;
  
    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 5px;
      left: 0;
      bottom: 0;
      background-color: currentColor;
    }
  }
}

.sidebar-persona {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -600px;
  width: 600px;
  max-width: 100%;
  padding: 20px;
  z-index: 1000;
  background-image: linear-gradient(to bottom, $violet 30%, $rose 100%);
  overflow-y: auto;
  @include transition(right $delay);

  @include media-breakpoint-up(sm) {
    padding: 50px;
  }

  @include media-breakpoint-up(lg) {
    padding: 75px;
  }

  img {
    max-width: 80%;
    height: auto;
  }

  &.active {
    right: 0;
  }

  .sidebar-persona-content p {
    color: inherit;
    font-size: inherit;
  }

  .sidebar-persona-close {
    position: fixed;
    top: 30px;
    right: -300px;
    display: block;
    @include transition(right $delay);
  }

  &.active {

    .sidebar-persona-close {
      right: 30px;
    }
  }
}