@for $i from 1 through 10 {
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $mycolor in $mycolors {
      .color#{$infix}-#{nth($mycolor, 1)} {
        color: #{nth($mycolor, 2)} !important;
      }
      .fill#{$infix}-#{nth($mycolor, 1)} {
        fill: #{nth($mycolor, 2)} !important;
      }
      .background#{$infix}-#{nth($mycolor, 1)} {
        background-color: #{nth($mycolor, 2)} !important;
      }
    }

    @for $size from 1 through 100 {
      .svg#{$infix}-#{$size} { width: #{$size}px !important; height: #{$size}px !important; }
      .opacity#{$infix}-#{$size} { opacity: $size/10 !important; }
    }
  }
}

.inactive > a,
a.inactive {
  cursor: not-allowed !important;
  color: $gray-dark !important;
}

img.w-100 {
  height: auto !important;
}

.square {
  position: relative;
  overflow: hidden;

  .square-calc {
    margin-top: 100%;
  }
  .square-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.background-gradient-gray {
  background: $gray-light;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $white, $gray-light);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $white, $gray-light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background-filigrane {
  background-image: url('../images/filigrane.svg');
  background-repeat: no-repeat;
  background-size: auto 75%;
  background-position: right -35vw bottom;

  @include media-breakpoint-up(sm) {
    background-position: right -15vw bottom;
  }

  @include media-breakpoint-up(lg) {
    background-position: right bottom;
  }
}

.persona {
  
  h3 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: $violet;

    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 40px;
      height: 5px;
      background-color: currentColor;
      bottom: 0;
      left: 0;
    }
  }

  &.persona-femme {
    h3 {
      color: $rose;
    }
  }
}

.titre-decale {
  position: relative;
  padding-top: 25px;

  @include media-breakpoint-up(sm) {
    padding-top: 30px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 55px;
  }

  & > h1 {
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    z-index: 1;
    margin-top: -25px;

    @include media-breakpoint-up(sm) {
      margin-top: -30px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: -55px;
    }
  }

  & > h2 {
    position: absolute;
    z-index: 1;
    margin-top: -15px;

    @include media-breakpoint-up(sm) {
      margin-top: -20px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: -35px;
    }
  }
}


.slider-prev,
.slider-next {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  background-color: transparent;
  border: 1px solid currentColor;
  outline: 0;
  @include border-radius(100%);
  color: currentColor;
  cursor: pointer;
  z-index: 10;

  svg.slider-circle {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 66px;
    height: 66px;
    transform: rotateY(-180deg) rotateZ(-90deg);

    circle {
      stroke-dasharray: 201px;
      stroke-dashoffset: 0px;
      stroke-linecap: round;
      stroke-width: 3px;
      stroke: currentColor;
      fill: none;
      animation: countdown 5s linear forwards;
    }
  }
      
  @include media-breakpoint-down(xs) {
    transform: scale(0.7);
  }
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 201px;
  }
}

.scrollx-mobile {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.separate {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid $gray;
}