@font-face {
  font-family: 'Campton Book';
  src: url('../fonts/Campton-Bold.woff2') format('woff2'),
      url('../fonts/Campton-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Campton Book';
  src: url('../fonts/Campton-Book.woff2') format('woff2'),
      url('../fonts/Campton-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Campton Book';
  src: url('../fonts/Campton-ExtraLight.woff2') format('woff2'),
      url('../fonts/Campton-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Supply';
  src: url('../fonts/Supply-Bold.woff2') format('woff2'),
      url('../fonts/Supply-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
