html{
  font-size: 62.5%; /* =10px */
  overflow-x: hidden;
  
  &.overlay{
    overflow: hidden;
    body{
      overflow: hidden;
    }
  }
}

body {
  @include font($default-font-family);
  @include font-size(16, 26, 0);
  color: $black;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
  @include media-breakpoint-up(lg) {
    @include font-size(18, 28, 0);
    overflow-x: initial;
  }

  &:not(.mce-content-body,.page-template-template-vente,.woocommerce) {
    padding-top: 84px;

    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }
  }
  
  * {
    box-sizing: inherit;
  }
}

html.open-sidebar {
  overflow: hidden;

  .back-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($white, .6);
    z-index: 750;
  }
}

p {
  color: $violet;
}

ul {
  padding-left: 25px;
  color: $violet;
  list-style-type: disc;
}

a {
  cursor: pointer;
  opacity: 1;
  @include transition(opacity $delay);
  outline: none;
  
  &:hover {
    opacity: .6;
    text-decoration: none;
  }

  svg {
    fill: currentColor;
  }
}

svg {
  vertical-align: middle;
}

main.main {
  overflow: hidden;
}

.container-fluid {
  
  @include media-breakpoint-up(xl) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.mw-100 {
  max-width: 100%;
  height: auto;
}