.page-template-template-vente,
.woocommerce,
.woocommerce-cart,
.woocommerce-page {

  header.vente {
    background: $gray-light;
    padding: 5rem 0;
  
    .brand {
      display: inline-block;
      width: 185px;
      height: 60px;
  
      svg {
        width: 150px;
        height: 60px;
      }
    
      @include media-breakpoint-up(xl) {
        width: 215px;
        height: 75px;
  
        svg {
          width: 180px;
          height: 75px;
        }
      }
    }
    
    .brand-dates {
      display: inline-block;
      margin-left: -30px;
  
      svg {
        width: 160px;
        height: 70px;
      }
    }
  }
}