p, 
.p {
  @include font-size(16, 26, 0);

  @include media-breakpoint-up(lg) {
    @include font-size(18, 28, 0);
  }
}

small, 
.small,
.small p {
  @include font-size(12, 17, 0);

  @include media-breakpoint-up(lg) {
    @include font-size(14, 19, 0);
  }
}

big, 
.big {
  font-weight: bold;
  @include font-size(20, 29, 0);

  @include media-breakpoint-up(sm) {
    @include font-size(25, 35, 0);
  }

  @include media-breakpoint-up(lg) {
    @include font-size(40, 55, 0);
  }
}

blockquote {
  color: $rose;
  font-weight: 200;
  @include font-size(30, 39, 0);

  @include media-breakpoint-up(sm) {
    @include font-size(40, 49, 0);
  }

  @include media-breakpoint-up(lg) {
    @include font-size(60, 69, 0);
  }
}

h1, 
.h1 {
  font-weight: bold;
  @include font-size(40, 40, 0);

  @include media-breakpoint-up(sm) {
    @include font-size(50, 50, 0);
  }

  @include media-breakpoint-up(lg) {
    @include font-size(90, 90, 0);
  }
}

h2, 
.h2 {
  font-weight: bold;
  @include font-size(24, 29, 0);

  @include media-breakpoint-up(sm) {
    @include font-size(30, 35, 0);
  }

  @include media-breakpoint-up(lg) {
    @include font-size(50, 55, 0);
  }
}

h3, 
.h3 {
  font-weight: bold;
  @include font-size(20, 25, 0);

  @include media-breakpoint-up(sm) {
    @include font-size(20, 25, 0);
  }

  @include media-breakpoint-up(lg) {
    @include font-size(24, 29, 0);
  }
}

h4, 
.h4 {
  font-weight: bold;
  @include font-size(16, 16, 0);

  @include media-breakpoint-up(lg) {
    @include font-size(18, 18, 0);
  }
}
