// fonts
$default-font-family : 'Campton Book', sans-serif;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Globals
$font-size-base:        1.6rem;
$border-radius:         0;

// Spacing and padding
$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
  10: ($spacer),
  15: ($spacer * 1.5),
  20: ($spacer * 2),
  25: ($spacer * 2.5),
  30: ($spacer * 3),
  40: ($spacer * 4),
  50: ($spacer * 5),
  60: ($spacer * 6),
  70: ($spacer * 7),
  80: ($spacer * 8),
  90: ($spacer * 9),
  100: ($spacer * 10)
), $spacers);

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
);

// Grid containers
$container-max-widths: (
  md: 720px,
  lg: 975px,
  xl: 1170px
);

// Delay Transition
$delay: .6s;

// Colors
$white:       #FFF;
$black:       #1D1D1B;
$rose:        #D92055;
$rose-light:  #E3708E;
$violet:      #712963;
$violet-light:#A87A9A;
$gray:        #DEDBDC;
$gray-light:  #F2F1F2;
$gray-dark:   #A59DA1;

$mycolors-title: 'white', 'black', 'rose', 'rose-light', 'violet', 'violet-light', 'gray', 'gray-light', 'gray-dark';
$mycolors-value: #FFF, #1D1D1B, #D92055, #E3708E, #712963, #A87A9A, #DEDBDC, #F2F1F2, #A59DA1;
$mycolors: zip($mycolors-title, $mycolors-value);

// Colors Bootstrap
$primary:       $violet;
$secondary:     $rose;
$info:          $gray;
/*
$success:       $green-light;
$warning:       $pink;
*/

// Buttons + Forms
$input-btn-padding-y:         1.5rem;
$input-btn-padding-x:         3rem;
$input-btn-focus-box-shadow:  none;
$input-btn-border-width:      0;

//Modals
/*
$modal-lg:                          970px;
$modal-md:                          690px;
$modal-sm:                          100%;
$modal-content-bg:                  #D3CDC3;
$modal-content-border-width:        0;
$modal-content-border-radius:       0;
$modal-content-box-shadow-xs:       0;
$modal-content-box-shadow-sm-up:    0;
$modal-backdrop-bg:                 $white;
$modal-backdrop-opacity:            .9;
*/