.btn {
  position: relative;
  font-weight: bold;
  color: $white!important;

  &::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $violet;
    z-index: -1;
  }

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 60%;
    height: 8%;
    bottom: 0;
    left: 20%;
    background-color: $rose;
    z-index: -1;
    @include transition(width $delay, left $delay, height $delay $delay);
  }

  &:hover {
    color: $white!important;
    opacity: 1;

    &::after {
      width: 100%;
      height: 100%;
      left: 0%;
    }
  }

  &.inactive {
    cursor: not-allowed !important;
    color: $gray-dark !important;
  
    &::before {
      background-color: $gray;
    }
  
    &::after {
      background-color: $gray-dark;
    }
  
    &:hover {
      color: $gray-dark;
      opacity: 1;
  
      &::after {
        width: 60%;
        height: 8%;
        left: 20%;
      }
    }
  }
}

.btn-light {
  background: transparent;
  color: $gray-dark !important;

  &::before {
    background-color: $gray-light;
  }

  &::after {
    background-color: $gray;
  }

  &:hover {
    background: transparent;
    color: $gray-dark!important;
  }
}

.btn-underline {
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: currentColor;
  padding-bottom: 20px;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 95%;
    height: 10px;
    left: 0;
    bottom: 0;
    background-color: $violet;
    @include transition(height $delay*2);
  }

  &:hover {

    &::before {
      height: 15px;
    }
  }
}

.link-underline {
  position: relative;
  display: inline-block;
  color: $violet;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 0;
    background-color: currentColor;
    @include transition(height $delay);
  }

  &:hover {
    color: $violet;

    &::before {
      height: 10px;
    }
  }

  &.active {
    color: $rose;
  }
}