// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.alert-success {
  color: $rose;
  background-color: transparent;
  border-color: transparent;
}

.sidebar-persona {
  form.wc-auth-login {
  
    label {
      color: $white;
      display: block;
    }
  
    input {
      width: 100%;
    }
  
    button {
      padding: 1rem 1.5rem;
      line-height: 1.6rem;
      border: none;
      background-color: $rose;
      color: $white;
      @include font-size(16, 26, 0);
      cursor: pointer;
      @include transition(background $delay);
    
      &:hover {
        background: $rose-light;
        color: $white;
      }
    }
  }
}

form,
.caldera_forms_form {

  h3 {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px solid $violet;
    color: $violet;
  }

  hr {
    margin: 40px 0;
    border-top: 1px solid $violet;
  }

  textarea {
    border: 1px solid $gray;
    padding: 1rem;
  
    &.parsley-error {
      border-color: $rose;
    }
  }
  
  input {
    border: 1px solid $gray;
    padding: 1rem 1.5rem;
    line-height: 1.6rem;
    color: $violet;
    @include font-size(16, 26, 0);
  
    &.parsley-error {
      border-color: $rose;
    }

    &[type='file'] {
      width: 100%;
    }
  
    &.btn {
      border: none;
      border-bottom: 3px solid $rose;
      background-color: $violet;
  
      &:hover {
        background: $rose;
        color: $white;
      }
    }
  }
  
  select {
    border: 1px solid $gray;
    padding: 1rem;
  
    &.parsley-error {
      border-color: $rose;
    }
  }

  div.checkbox {
  
    label {
      position: relative;
      display: block;
      padding-left: 50px;
      cursor: pointer;
      color: $violet;
    
      input {
        position: absolute;
        opacity: 0;
      }
    
      .optional {
        display: block !important;
        position: absolute;
        left: 0;
        top: -7px;
        height: 35px;
        width: 35px;
        background-color: $white;
        @include border-radius(100%);
        border: 1px solid $violet;
        text-indent: -9999px;
        white-space: nowrap;
        overflow: hidden;
      }
  
      input:checked ~ .optional {
        &::before {
          display: block;
          content: '';
          position: absolute;
          top: 4px;
          left: 4px;
          width: 25px;
          height: 25px;
          background-color: $violet;
          @include border-radius(100%);
        }
      }
    }
  }
}

.parsley-required {
  color: $rose;
  @include font-size(12, 17, 0);

  @include media-breakpoint-up(lg) {
    @include font-size(14, 19, 0);
  }
}

.footer-contact {
  form {
  
    .first_col {
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-align: center!important;
      align-items: center!important;
      font-weight: 700;
  
      @include media-breakpoint-down(lg) {
        width: 100%!important;
      }
    }
  
    .col-sm-3 {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    
    .col-sm-6 {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  
    input {
      display: inline-block;
      color: $white;
      border: none;
      border-bottom: 3px solid $white;
      padding: 1rem 0;
      background-color: transparent;
      outline: none;
      max-width: initial !important;
      width: 100%;
      @include font-size(12, 17, 0);
    
      @include media-breakpoint-up(lg) {
        @include font-size(14, 19, 0);
      }
  
      &:focus {
        color: $white;
        border-bottom: 3px solid $white;
        background-color: transparent;
      }

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $white;
      }
    
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $white;
      }
    
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $white;
      }
    }
  }

  .formErrorMessage,
  .formCompleted {
    @include font-size(14, 17, 0);
    margin-top: 15px;
    color: $rose;
  }

  .formContent {
  
    .formTextLabel {
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-align: center!important;
      align-items: center!important;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
  
      @include media-breakpoint-down(lg) {
        width: 100%!important;
      }
    }
    
    .formTextInput {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .formSubmit {
      display: inline-block;
      color: $white;
      border: none;
      border-bottom: 3px solid $rose;
      padding: 1rem 0;
      background-color: transparent;
      outline: none;
      max-width: initial !important;
      width: 100%;
      font-weight: 700;
      @include font-size(12, 17, 0);
    
      @include media-breakpoint-up(lg) {
        @include font-size(14, 19, 0);
      }
  
      &:focus {
        color: $white;
        border-bottom: 3px solid $white;
        background-color: transparent;
      }
  
      &.btn {
        border-bottom-color: $rose;
  
        &:hover {
          background: transparent;
          color: $rose;
        }
      }
    }
  }
}

body.nous-contacter {
  
  form {

    input,
    textarea {
      border: 1px solid $violet;
  
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $violet;
      }
    
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $violet;
      }
    
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $violet;
      }
    }
  }
}