.custom-pagination {
  text-align: center;

  span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    @include border-radius(100%);
  }

  a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    @include border-radius(100%);
    border: 1px solid $violet;

    &.prev {
      margin-right: 25px;
    }

    &.next {
      margin-left: 25px;
    }
  }

  span {

    &.dots {
      padding: 0;
      color: $violet;
    }

    &.current {
      border: 1px solid $rose;
      color: $rose;
    }
  }
}