#slider-homepage {
  position: relative;
  background-color: $violet;
  color: $rose;
  overflow: hidden;
  z-index: 0;
  height: calc(100vh - 85px);
  max-height: 430px;

  @include media-breakpoint-up(sm) {
    max-height: initial;
    min-height: 675px;
  }

  @include media-breakpoint-up(xl) {
    height: calc(100vh - 190px);
  }

  video {
    position: absolute;
    min-width: auto;
    min-height: auto;
    width: auto;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .slider-slogan {
    position: absolute;
    right: 5%;
    z-index: 10;
    bottom: 5%;
  
    @include media-breakpoint-up(sm) {
      bottom: 10%;
    }
  
    @include media-breakpoint-up(xl) {
      bottom: initial;
    }
  }

  .slider-content {
    z-index: 1;
    font-family: 'Supply';
    width: 100%;
    @include font-size(64, 53, 0);
  
    @include media-breakpoint-up(sm) {
      @include font-size(166, 138, 0);
    }
  
    @include media-breakpoint-up(xl) {
      @include font-size(240, 180, 0);
    }
  
    @include media-breakpoint-up(xxl) {
      @include font-size(288, 220, 0);
    }

    .slider-slide {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-repeat: no-repeat;
      background-position: left 20vw center;
      background-size: 100% auto;
      padding-left: 5%;
      padding-top: 5vh;
      padding-bottom: 5vh;
      opacity: 0;
      transform: translate(-100px);
      transform: translate3d(-100px,0,0);
      @include transition(opacity $delay, transform $delay);

      & > div {
        margin-bottom: 10vh;
      }
  
      @include media-breakpoint-up(sm) {
        background-position: left 25vw center;
      }
  
      @include media-breakpoint-up(xl) {
        padding-left: 10%;
        padding-top: 0;
        padding-bottom: 0;
        background-position: left 35vw center;
        background-size: 55% auto;

        & > div {
          margin-bottom: 0;
        }
      }

      .fade-left {
        opacity: 0;
        transform: translate(100px);
        transform: translate3d(100px,0,0);
        @include transition(opacity $delay, transform $delay);
      }

      &.active {
        opacity: 1;
        transform: translate(0);
        transform: translateZ(0);

        .fade-left {
          opacity: 1;
          transform: translate(0);
          transform: translateZ(0);
        }
      }
    }
  }

  .slider-prev,
  .slider-next {
    position: absolute;
    left: 5%;
    top: 90%;
    margin-top: -32px;
  
    @include media-breakpoint-up(xl) {
      top: 50%;
    }
  }
  
  .slider-next {
    margin-left: 55px;

    @include media-breakpoint-up(sm) {
      margin-left: 80px;
    }
  }
}

@for $i from 1 through 3 {
  .slider-slide .fade-left:nth-child(#{$i}n) {
      transition-delay: #{$i * .3}s !important;
  }
}