span.optional {
  display: none;
}

.woocommerce button.button {
  padding: 1rem 1.5rem;
  line-height: 1.6rem;
  border: none;
  background-color: $rose;
  color: $white;
  @include font-size(16, 26, 0);
  cursor: pointer;
  @include transition(background $delay);
  @include border-radius(0);
  font-weight: initial;

  &:hover {
    background: $rose-light;
    color: $white;
  }
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  border: 0;
}

.woocommerce form.login {
  border: 0;
  @include border-radius(0);
  padding: 0;
  margin: 0;

  .woocommerce-form__label-for-checkbox {
    display: none !important;
  }
}

.products {

  h3 {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px solid $violet;
    color: $violet;
  }

  .product {
    margin-bottom: 30px !important;

    .product-content {
      background-color: $gray-light;
      padding: 30px;
      height: 100%;
      @include transition(background $delay);

      .product_title, p, .woocommerce-Price-amount {
        @include transition(color $delay);
      }
  
      .product_title {
        color: $violet;
        margin-bottom: 10px;
      }

      p {
        @include font-size(12, 17, 0);
      
        @include media-breakpoint-up(lg) {
          @include font-size(14, 19, 0);
        }
      }
    
      .woocommerce-Price-amount {
        font-weight: normal;
        color: $rose;
      }

      &:hover {
        opacity: 1;
        background-color: $rose;

        .product_title, p, .woocommerce-Price-amount {
          color: $white;
        }
      }
    }
  }
}

.woocommerce-input-wrapper {
  width: 100%;
}

.form-row.woocommerce-validated {
  input.input-text {
    border-color: $gray !important;
  }
}
.form-row.woocommerce-invalid {
  input.input-text {
    border-color: $rose !important;
  }
}

.woocommerce-checkout {

  #customer_details {
    margin-bottom: 30px;
  }
}

p.input-checkbox {
  display: inline-block;
  width: 30%;
  margin-bottom: 15px;

  label.checkbox {
    position: relative;
    display: block;
    padding-left: 50px;
    cursor: pointer;
  
    input.input-checkbox {
      position: absolute;
      opacity: 0;
    }
  
    .optional {
      display: block !important;
      position: absolute;
      left: 0;
      top: -7px;
      height: 35px;
      width: 35px;
      background-color: $white;
      @include border-radius(100%);
      border: 1px solid $violet;
      text-indent: -9999px;
      white-space: nowrap;
      overflow: hidden;
    }

    input.input-checkbox:checked ~ .optional {
      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 25px;
        height: 25px;
        background-color: $violet;
        @include border-radius(100%);
      }
    }
  }
}

.woocommerce table.shop_table {
  border: none;

  th,td {
    padding: 10px;
    font-weight: normal !important;
    border: 0;
    vertical-align: top;
  }

  tfoot {

    th {
      text-align: right;
    }

    th,td {
      padding: 5px 10px;
      font-weight: normal !important;
      border: 0;
      vertical-align: top;
      color: $violet;
    }
  }
}

.woocommerce-checkout #payment {
  background: transparent;

  ul.payment_methods {
    padding: 0;
    border: none;
  }

  .woocommerce-privacy-policy-text {
    p {
      @include font-size(12, 17, 0);
      color: $gray-dark;
    
      @include media-breakpoint-up(lg) {
        @include font-size(14, 19, 0);
      }
    }
  }
}

.woocommerce-NoticeGroup,
.woocommerce-message {
  display: none;
}